<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Reports</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
        <div class="logo">
          <h1>Alarm Center</h1>
        </div>
        <nav>
          <ul>
            <li><a href="#"> <i class="fas fa-user-alt"></i> <%= userName %></a></li>
          </ul>
        </nav>
      </header>
      
    <!-- <header>
        <a href="/">
          <h1>My App</h1>
        </a>
        <a id="logout-link" href="#">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </header> -->
      
    <!-- <header> -->
      <div class="container">
        <h1 class="welcome-msg">Welcome back <%= role %></h1>
      </div>
    <!-- </header> -->
    <main>
      <!-- Main content here -->
    </main>
    <script src="/js/script.js"></script>
  </body>
</html>
